---
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Contact from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";
import planting_flowers from "../assets/img/residential-services.jpg";
import portfolio2 from "../assets/img/mvlandscape_portfolio_2.png";
import portfolio3 from "../assets/img/mvlandscape_portfolio_3.jpg";
import { Image } from "astro:assets";
// import hero from "../assets/img/hero-section-home.jpg"
---

<Layout title="MVLandscape">
  <main>
    <section
      class="hero-section relative w-full mx-auto py-[130px] bg-hero-section bg-center bg-no-repeat bg-cover lg:py-[200px]"
    >
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 items-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative float-left">
          <h1 class="text-5xl lg:text-6xl font-bold">WELCOME TO MVLANDSCAPE</h1>
        </div>

        <div class="w-[85%] lg:w-[70%] flex items-start relative float-left">
          <div
            class="hero_button_container flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-[90%] flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-30 font-semibold md:p-3">
                Welcome to MVLandscape, we turn your landscaping dreams into
                stunning realities. Our skilled team designs and creates
                beautiful, functional outdoor spaces tailored to your vision.
                From lush gardens to inviting patios, we bring creativity and
                craftsmanship to every project.
              </p>
            </div>

            <div class="flex gap-3">
              <a
                href="#services"
                class="bg-cafe font-semibold rounded-lg py-3 px-5 hover:bg-darker_cafe lg:hover:scale-105 transition-all"
                >Our Services</a
              >

              <a
                href="#contact"
                class="bg-cafe font-semibold rounded-lg py-3 px-5 hover:bg-darker_cafe lg:hover:scale-105 transition-all"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <section class="py-9 bg-primary relative">
      <!-- <div class="background-overlay"></div> -->

      <div
        class="container mx-auto px-8 flex flex-wrap items-center content-center justify-center"
      >
        <div class="flex gap-3 items-center content-center justify-center">
          <div class="relative w-[40%]">
            <div
              class="absolute inline-block w-1 h-[80px] bg-white top-[-6.5rem]"
            >
            </div>
            <div class="flex relative">
              <div
                class="absolute inline-block w-10 h-10 rounded-full top-[-0.5rem] left-[-1rem] opacity-55 z-10 bg-slate-300"
              >
              </div>
              <span class="font-bold text-white">1.</span>

              <div class="ml-5 text-white">
                <h2>WHO WE ARE?</h2>
                <div>
                  <h2 class="text-lg font-bold pb-3">LOREM IPSUM</h2>
                  <p class="w-[75%]">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Impedit sequi et ducimus velit nostrum. Illo velit earum
                    deleniti optio voluptates soluta, nostrum eos minima
                    doloremque. Nemo vero possimus illo repellat!
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="w-[55%] relative">
            <div class="flex relative mb-10">
              <div
                class="absolute inline-block w-10 h-10 rounded-full top-[-0.5rem] left-[-1rem] opacity-55 z-10 bg-slate-300"
              >
              </div>
              <span class="font-bold text-white">2.</span>

              <div class="ml-5 text-white">
                <h2>COMPANY</h2>
                <div>
                  <h2 class="text-lg font-bold pb-3">SPECIALIZATION</h2>
                  <p class="w-[75%]">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Impedit sequi et ducimus velit nostrum. Illo velit earum
                    deleniti optio voluptates soluta, nostrum eos minima
                    doloremque. Nemo vero possimus illo repellat!
                  </p>
                </div>
              </div>
            </div>

            <div class="flex relative">
              <div
                class="absolute inline-block w-1 h-[220px] bg-white top-[-16rem] md:top-[-14rem] md:h-[200px] lg:h-[100px] lg:top-[-8rem]"
              >
              </div>
              <div
                class="absolute inline-block w-10 h-10 rounded-full top-[-0.5rem] left-[-1rem] opacity-55 z-10 bg-slate-300"
              >
              </div>
              <span class="font-bold text-white">3.</span>

              <div class="ml-5 text-white">
                <h2>COMPANY</h2>
                <div>
                  <h2 class="text-lg font-bold pb-3">SPECIALIZATION</h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Impedit sequi et ducimus velit nostrum. Illo velit earum
                    deleniti optio voluptates soluta, nostrum eos minima
                    doloremque. Nemo vero possimus illo repellat!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-9 bg-white lg:py-12" id="services">
      <div class="container mx-auto text-center px-8">
        <h2 class="text-4xl font-bold lg:text-5xl pb-3">OUR SERVICES</h2>

        <p class="w-full md:w-[75%] lg:w-[75%] mx-auto lg:py-4">
          At <span class="font-bold">MVLandscape</span>, we offer expert
          landscaping solutions to transform your outdoor space. From creative
          design and garden maintenance to hardscaping and irrigation, our
          skilled team delivers exceptional results tailored to your vision.
          Whether you need a complete overhaul or regular care, we ensure your
          landscape is both beautiful and functional. Discover how our services
          can enhance your outdoor environment.
        </p>

        <div class="flex gap-6 flex-wrap pt-5 lg:gap-4 md:gap-y-7 lg:gap-y-11">
          <Card
            title="GRASS CUTTING SERVICE"
            body="Expert grass cutting for a pristine, well-maintained lawn year-round."
            link="/services/grass-cutting"
            isService
          />
          <Card
            title="LANDSCAPE DESIGN SERVICE"
            body="Transform your outdoor space with our expert landscape design service."
            link="/services/landscape-design"
            isService
          />
          <Card
            title="PLANTING SERVICE"
            body="Enhance your garden with our professional planting service."
            link="/services/planting"
            isService
          />
          <Card
            title="TREE TRIMMING SERVICE"
            body="Professional tree trimming for healthy, beautiful, and safe trees."
            link="/services/tree-trimming"
            isService
          />
          <Card
            title="SPRINKLER INSTALLATION SERVICE"
            body="Efficient sprinkler installation for a lush, well-watered landscape."
            link="/services/sprinkler-installation"
            isService
          />

          <Card
            title="CLEAN UP SERVICE"
            body="Thorough clean-up service to keep your outdoor space neat and tidy."
            link="/services/clean-up"
            isService
          />
        </div>
      </div>
    </section>

    <section class="py-9 bg-white">
      <div class="container mx-auto text-center px-8">
        <h2 class="text-4xl font-bold pb-6 lg:text-5xl">OUR PORTFOLIO</h2>

        <div
          class="grid grid-cols-1 justify-items-center self-center place-content-center gap-y-2 gap-x-2 md:grid-cols-2 lg:grid-cols-[150px_minmax(300px,250px)_150px]"
        >
          <Image
            src={planting_flowers}
            alt="portfolio"
            width={200}
            height={200}
          />
          <Image src={portfolio2} alt="portfolio" width={300} height={200} />
          <Image src={portfolio3} alt="portfolio" width={150} height={150} />

          <Image
            src={planting_flowers}
            alt="portfolio"
            width={200}
            height={200}
          />
          <Image src={portfolio2} alt="portfolio" width={300} height={200} />
          <Image src={portfolio3} alt="portfolio" width={150} height={150} />
        </div>
      </div>
    </section>

    <Banner />

    <Contact formAction="contact/contactform.php" />
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  .section-wrapper {
    position: relative;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
